<div class="container">
    <table *ngIf="clients?.length > 0; else
                                    noClients" class="table-content">
        <thead class="thead-inverse">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Balance</th>
        <th></th>
        </thead>

        <tbody>
        <tr *ngFor="let client of clients">
            <td>{{client.keyData.key}}</td>
            <td>{{client.firstName}} {{client.lastName}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.balance}}</td>
            <td>
                <button><a href="">Details</a></button>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-template #noClients>
        <hr>
        <h4>Sorry, there are no Clients</h4>
    </ng-template>
</div>
