.container {
  margin-top: 40px;
  padding: 0 200px 0 200px;
  .user {
    h2 {
      margin: 10px;
      width: auto;
      float: left;
    }
  }
  .total {
    label {
      margin: 15px 0;
      width: auto;
      float: right;
      font: bold 16px 'Bitstream Charter';
    }
  }
  .table-content {
    padding: 20px;
    border-collapse: collapse;
    font: 12px 'FreeSans';
    width: 100%;
    .grey {
      background-color: #e2e2e2;
    }
    .white {
      background-color: white;
    }
    .thead-inverse {
      width: 100%;
      background-color: black;
      color: white;
      th {
        padding: 5px 15px;
        text-align: left;
      }
    }
    tr {
        td {
          padding: 5px 15px;
          button {
            width: auto;
            height: 20px;
            &:hover{
              background-color: black;
              border: none;
              color: white;
            }
            a {
              text-decoration: none;
              font: 12px 'FreeSans';
              color: black;
              &:hover {
                color: white;
              }
            }
          }
        }
    }

  }
}
