.container {
  margin: 0;
  padding: 60px 200px 0 200px;
  .back-dash {

  }
  .btn-group {
    float: right;
    padding: 10px;
    a {
      text-decoration: none;
      outline: none;
      float: left;
      position: absolute;
      top: 60px;
      margin: 0 12px ;
      right: 200px;
      height: auto;
      font: 14px 'Abyssinica SIL';
      right: 270px;
      color: black;
      &:hover{
        color: #008500;
      }
    }
    button {
      float: left;
      position: absolute;
      top: 55px;
      margin: 0 0px;
      border: 2px solid red;
      background-color: red;
      color: white;
      height: 25px;
      font: 14px 'Abyssinica SIL';
      right: 200px;
      &:hover {
        background-color: #658bff;
        border: 2px solid #658bff;
      }
    }
  }
  hr {
    width: 100%;
  }
  .card-head {
    background-color: black;
    box-sizing: border-box;
    h3 {
      padding: 7px 20px;
      color: white;
      word-spacing: 10px;
    }
  }
  .key-id{
    h4 {
      padding: 0 20px;

    }
    .bal {
      position: absolute;
      top: 155px;
      right: 230px;
    }
    .update-balance {
      float: right;
      box-sizing: border-box;
      padding: 5px 30px;
      margin: 0;
      button {
        color: white;
        background-color: #658bff;
        border: 2px solid #658bff;
        outline-style: none;
      }
    }
    .contact {
      margin-right: 30px;
      ul {
        list-style-type: none;
        li {
          width: 70%;
          box-sizing: border-box;
          padding: 5px 20px;
          border: 1px solid #CCCCCC;
        }
      }
    }
  }
  .red {
    color: red;
  }

  .green {
    color: green;
  }
}
