<div class="container">
  <div class="back-dash">
    <a routerLink="/" href="#"><i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard</a>
  </div>
  <div class="btn-group">
    <a [routerLink]="['/edit-client/'+id]"><i class="fa fa-pencil"></i> Edit</a>
    <button type="button" (click)="onClickDelete()"><i class="fa fa-trash"></i> Delete</button>
  </div>
  <hr>
  <div *ngIf="client" class="card-head">
    <h3>{{client.firstName | uppercase }} {{client.lastName | uppercase}}</h3>
  </div>
  <div class="key-id">
    <h4>Client ID: {{id}}</h4>
    <h3 *ngIf="client" class="bal">Balance:
      <span [class.red]="hasBalance"
            [class.green]="!hasBalance"
      >{{client.balance | currency:"USD":"symbol"}} </span>
      <small>
        <a (click)="showBalanceUpdated = !showBalanceUpdated"><i class="fa fa-pencil"></i></a>
      </small>
    </h3>
    <div class="update-balance">
      <form *ngIf="showBalanceUpdated" (submit)="updateBalance(id)">
        <input type="text" [(ngModel)]="client.balance" name="balance">
        <button type="submit">Balance</button>
      </form>
    </div>
    <!--<hr>-->
    <div class="contact">
      <ul *ngIf="client">
        <li>Contact Phone: {{client.phone }}</li>
        <li>contact Email: {{client.email}}</li>
      </ul>
    </div>
  </div>
</div>
