<div class="container">
  <nav>
    <div class="nav-components">
      <label class="nav-heading">
        ClientPanel
      </label>
      <ul class="nav-ulleft">
        <li class="nav-items">
          <a class="nav-link" href="#" routerLink="/">DashBoard</a>
        </li>
      </ul>
      <ul class="nav-ulright">
        <li class="nav-items">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
