<div class="container">
  <nav>
    <div class="nav-components">
      <label class="nav-heading">
        ClientPanel
      </label>
      <ul class="nav-ulleft">
        <li *ngIf="isLoggedIn" class="nav-items">
          <a class="nav-link" routerLink="/">DashBoard</a>
        </li>
      </ul>
      <ul class="nav-ulright">
        <li *ngIf="!isLoggedIn" class="nav-items">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-items">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-items">
          <a class="nav-link" >{{loggedInUser}}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-items">
          <a class="nav-link" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
