.container {
  padding: 0 200px 0 200px;
  .sidebar {
    width: 20%;
    float: right;
    a {
      button {
        position: relative;
        top: -235px;
        margin: 0 10px;
        border-radius:2px;
        border: 2px solid #008500;
        background-color: #008500;
        height: 25px;
        font: 14px 'Abyssinica SIL';
        &:hover {
          color: white;
        }
      }
    }
  }
}
