.container {
  padding: 0 200px 0 200px;
  .sidebar {
    width: 20%;
    float: right;
    a {
      button {
        position: absolute;
        top: 85px;
        margin: 0 40px;
        border-radius:2px;
        border: 2px solid #658bff;
        background-color: #658bff;
        height: 25px;
        font: 14px 'Abyssinica SIL';
        &:hover {
          color: white;
        }
      }
    }
  }
}
